.menu{
    display:flex;
    justify-content: space-between;
    background-color: black;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;    color: black;
    height: 25px;
} 

.mHead {
    background-color: rgb(255, 255, 255);
}

.bodyimg {
    background-color: rgb(255, 255, 255);
    color:black;
    align-items: center;
    font-size: 15px;
    font-family: sans-serif;
}

.step {
    padding-left: 300px;
    padding-right: 300px;
    height: 150px;
    font-size: 16px;
}

.grid img{
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    background-color: whitesmoke;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.origami{
    border-radius: 20px;
    background-color: rgb(243, 194, 176);
    width: 310px;
    font-family: sans-serif;
    margin-left: 50px;
    margin-top: 25px;
    padding-top: 15px;
}

body{
    background-color: yellow;
}
